# Main binaries created in *nix builds
/zerotier-one
/zerotier-idtool
/zerotier-cli
/zerotier-selftest
/zerotier
/nltest

# IDE stuff
/.idea
/.nova
/compile_commands.json

# OS-created garbage files from various platforms
.DS_Store
.Apple*
Thumbs.db
@eaDir
._*

# Windows build droppings
/windows/ZeroTierOne.sdf
/windows/ZeroTierOne.v11.suo
/windows/x64
/windows/Win32
/windows/*/x64
/windows/*/Win32
/windows/ZeroTierOne/Release
/windows/ZeroTierOneService/obj
/windows/ZeroTierOneService/bin
/windows/Build
/windows/Debug
/windows/Release
/windows/WebUIWrapper/bin
/windows/WebUIWrapper/obj
/windows/lib
/ext/installfiles/windows/ZeroTier One-SetupFiles
/ext/installfiles/windows/*-cache
/ZeroTier One.msi
*.vcxproj.backup
/windows/TapDriver6/Win7Debug
/windows/TapDriver6/win7Release
/windows/*.db
/windows/*.opendb
enc_temp_folder
/windows/copyutil/bin
/windows/copyutil/obj
.vs/

# *nix/Mac build droppings
/build-*
/ZeroTierOneInstaller-*
/examples/docker/zerotier-one
/examples/docker/test-*.env
/world/mkworld
/world/*.c25519
zt1-src.tar.gz
/MacEthernetTapAgent

# Miscellaneous temporaries, build files, etc.
*.log
*.opensdf
*.user
*.cache
*.tlog
*.pid
*.pkg
*.o
/*.a
*.dylib
*.so
*.so.*
*.o-*
*.core
*.deb
*.rpm
*.autosave
*.tmp
.depend
node_modules
zt1_update_*
debian/files
debian/zerotier-one
debian/zerotier-one*.debhelper
debian/*.log
debian/zerotier-one.substvars
root-watcher/config.json

# Java/Android/JNI build droppings
java/obj/
java/libs/
java/bin/
java/classes/
java/doc/
java/build_win64/
java/build_win32/
/java/mac32_64/
windows/WinUI/obj/
windows/WinUI/bin/
windows/ZeroTierOne/Debug/
/ext/installfiles/windows/chocolatey/zerotier-one/*.nupkg

# Miscellaneous mac/Xcode droppings
.DS_Store
.Trashes
*.swp
*~.nib
DerivedData/
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
!default.pbxuser
!default.mode1v3
!default.mode2v3
!default.perspectivev3
*.xccheckout
xcuserdata/
.vscode
__pycache__
*~
attic/world/*.c25519
attic/world/mkworld
workspace/
workspace2/
zeroidc/target/
tcp-proxy/target

#snapcraft specifics
/parts/
/stage/
/prime/

*.snap

.snapcraft
__pycache__
*.pyc
*_source.tar.bz2
snap/.snapcraft
tcp-proxy/tcp-proxy
rustybits/target
ext/installfiles/windows/*.back*.aip
build/ALL_BUILD.vcxproj
build/ALL_BUILD.vcxproj.filters
build/cmake_install.cmake
build/CMakeCache.txt
build/INSTALL.vcxproj
build/INSTALL.vcxproj.filters
build/ZERO_CHECK.vcxproj
build/ZERO_CHECK.vcxproj.filters
build/zerotiercore.sln
build/zerotiercore.vcxproj
build/zerotiercore.vcxproj.filters
build/.cmake/api/v1/query/client-vscode/query.json
build/.cmake/api/v1/reply/cache-v2-da688a15932655c6810c.json
build/.cmake/api/v1/reply/cmakeFiles-v1-34330f88f3ea964bc844.json
build/.cmake/api/v1/reply/codemodel-v2-dbd130c0abb679813942.json
build/.cmake/api/v1/reply/directory-.-Debug-b1c1921e5096a8a10d50.json
build/.cmake/api/v1/reply/directory-.-MinSizeRel-b1c1921e5096a8a10d50.json
build/.cmake/api/v1/reply/directory-.-Release-b1c1921e5096a8a10d50.json
build/.cmake/api/v1/reply/directory-.-RelWithDebInfo-b1c1921e5096a8a10d50.json
build/.cmake/api/v1/reply/index-2025-09-03T19-21-28-0418.json
build/.cmake/api/v1/reply/target-ALL_BUILD-Debug-a63f505da3e18ed29489.json
build/.cmake/api/v1/reply/target-ALL_BUILD-MinSizeRel-a63f505da3e18ed29489.json
build/.cmake/api/v1/reply/target-ALL_BUILD-Release-a63f505da3e18ed29489.json
build/.cmake/api/v1/reply/target-ALL_BUILD-RelWithDebInfo-a63f505da3e18ed29489.json
build/.cmake/api/v1/reply/target-ZERO_CHECK-Debug-897b586189506b0cc15f.json
build/.cmake/api/v1/reply/target-ZERO_CHECK-MinSizeRel-897b586189506b0cc15f.json
build/.cmake/api/v1/reply/target-ZERO_CHECK-Release-897b586189506b0cc15f.json
build/.cmake/api/v1/reply/target-ZERO_CHECK-RelWithDebInfo-897b586189506b0cc15f.json
build/.cmake/api/v1/reply/target-zerotiercore-Debug-2afc113363f65a1cd900.json
build/.cmake/api/v1/reply/target-zerotiercore-MinSizeRel-c68483af60e90eee9961.json
build/.cmake/api/v1/reply/target-zerotiercore-Release-37f1a630a432114bafc8.json
build/.cmake/api/v1/reply/target-zerotiercore-RelWithDebInfo-8600b01c13f6980c0f21.json
build/.cmake/api/v1/reply/toolchains-v1-c97b7f3b5e622d93c2ee.json
build/CMakeFiles/cmake.check_cache
build/CMakeFiles/CMakeConfigureLog.yaml
build/CMakeFiles/generate.stamp
build/CMakeFiles/generate.stamp.depend
build/CMakeFiles/generate.stamp.list
build/CMakeFiles/InstallScripts.json
build/CMakeFiles/TargetDirectories.txt
build/CMakeFiles/4.1.1/CMakeCCompiler.cmake
build/CMakeFiles/4.1.1/CMakeCXXCompiler.cmake
build/CMakeFiles/4.1.1/CMakeDetermineCompilerABI_C.bin
build/CMakeFiles/4.1.1/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/4.1.1/CMakeRCCompiler.cmake
build/CMakeFiles/4.1.1/CMakeSystem.cmake
build/CMakeFiles/4.1.1/VCTargetsPath.txt
build/CMakeFiles/4.1.1/VCTargetsPath.vcxproj
build/CMakeFiles/4.1.1/CompilerIdC/CMakeCCompilerId.c
build/CMakeFiles/4.1.1/CompilerIdC/CompilerIdC.exe
build/CMakeFiles/4.1.1/CompilerIdC/CompilerIdC.vcxproj
build/CMakeFiles/4.1.1/CompilerIdC/Debug/CMakeCCompilerId.obj
build/CMakeFiles/4.1.1/CompilerIdC/Debug/CompilerIdC.exe.recipe
build/CMakeFiles/4.1.1/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/CMakeFiles/4.1.1/CompilerIdCXX/CompilerIdCXX.exe
build/CMakeFiles/4.1.1/CompilerIdCXX/CompilerIdCXX.vcxproj
build/CMakeFiles/4.1.1/CompilerIdCXX/Debug/CMakeCXXCompilerId.obj
build/CMakeFiles/4.1.1/CompilerIdCXX/Debug/CompilerIdCXX.exe.recipe
build/CMakeFiles/4.1.1/VCTargetsPath/Debug/VCTargetsPath.recipe
build/CMakeFiles/f11f8f88310b7656cb4f2a5c8ebcca49/generate.stamp.rule
build/CMakeFiles/f11f8f88310b7656cb4f2a5c8ebcca49/INSTALL_force.rule
